<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <p class="font-secondary paragraph-lg text-dark">{{site.data.settings.blurb}}</p>
        <a href="{{ site.data.settings.blurb-btn-link }}" class="btn btn-transparent">{{ site.data.settings.blurb-btn-name }}</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h2>Resume</h2>
        <h1>최종민 Jong-Min Choi(Chris)</h1>
        <h2>Introduction</h2>
        <p>Hello, I'm Choi Jong-min, majoring in computer education at Jeju National University.I am interested in Education (mainly Educational Engineering) and developing Edutech program.</p>
        <p>안녕하세요. 제주대학교 컴퓨터교육과 최종민입니다. 교육(주로 교육공학)에 관심이 많으며, 에듀테크 개발 및 기획에 관심이 있습니다.</p>
        <h2>Work Experience</h2>
        <h3>🏫 Mentor(Multimedia)</h3>
        <p>March 2023 – Present</p>
        <p>Jeju National University SW Convergence Education Center</p>
        <h3>🏫 Mentor(AI hackathon Program)</h3>
        <p>October 2022</p>
        <p>Jeju National University Intelligent Software Education Research Institute, Jeju Province, Jeju National University.</p>
        <h3>🏫 Assistant Instructor(High School-University linkage Program)</h3>
        <p>April 2022 – July 2022</p>
        <p>Jeju National University Intelligent Software Education Research Institute</p>
        <h3>💻 Team Leader(Industry-Academic Cooperation Project)</h3>
        <p>March 2022 - August 2022</p>
        <p>SW-Centered University of Jeju National University</p>
      </div>
    </div>
  </div>
</section>
<!-- /about -->
