---
layout: default
---
<!-- page title -->
<section class="page-title-alt bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white font-tertiary">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-bg-top.png" alt="illustrations" class="bg-shape-1 w-100">
  <img src="{{ site.baseurl }}/assets/images/illustrations/dots-group-sm.png" alt="illustrations" class="bg-shape-2">
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-yellow.png" alt="illustrations" class="bg-shape-3">
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-orange.png" alt="illustrations" class="bg-shape-4">
  <img src="{{ site.baseurl }}/assets/images/illustrations/dots-group-cyan.png" alt="illustrations" class="bg-shape-5">
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-cyan-lg.png" alt="illustrations" class="bg-shape-6">
</section>
<!-- /page title -->

<!-- about -->
<section class="section pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{ "안녕하세요. 제주대학교 컴퓨터교육과 최종민입니다.<br>교육(주로 교육공학)에 관심이 많으며, 에듀테크 개발 및 기획에 관심이 있습니다.<br><br>Hello, I'm Choi Jong-min, majoring in computer education at Jeju National University.<br>I am interested in education (mainly educational engineering) and developing edutech program." }}
      </div>
      <div class="col-md-4 text-center drag-lg-top">
        <div class="shadow-down mb-4">
          <img src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.author }}" class="img-fluid w-100 rounded-lg border-thick border-white">
        </div>

        
        <h4>{{"Jong-min Choi(Chris)"}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <style>
          body {
              font-family: Arial, sans-serif;
              margin: 0;
              padding: 20px;
          }
  
          h2, h3, h4 {
              margin-bottom: 10px;
          }
  
          hr {
              border: none;
              border-top: 1px solid #ccc;
              margin: 10px 0;
          }
  
          p {
              margin: 0;
              padding-left: 20px;
          }
        </style>
        <br>
        <br>
        <br>
        <h2>Resume</h2>
        <br>
        <br>
        <h3 class="col-lg-12 text-center">Work Experience</h3>
        <br>
        <br>
        <h4>🏫 Mentor(Multimedia)</h4>
        <p>March 2023 – Present</p>
        <p>Jeju National University SW Convergence Education Center</p>
        <hr>
        <h4>🏫 Mentor(AI hackathon Program)</h4>
        <p>October 2022</p>
        <p>Jeju National University Intelligent Software Education Research Institute, Jeju Province, Jeju National University.</p>
        <hr>
        <h4>🏫 Assistant Instructor(High School-University linkage Program)</h4>
        <p>April 2022 – July 2022</p>
        <p>Jeju National University Intelligent Software Education Research Institute</p>
        <hr>
        <h4>💻 Team Leader(Industry-Academic Cooperation Project)</h4>
        <p>March 2022 - August 2022</p>
        <p>SW-Centered University of Jeju National University</p>

        <h3 class="col-lg-12 text-center">Work Experience</h3> 


      </div>
    </div>
  </div>
  
</section>
<!-- /about -->

{% include work-process-section.html %}

{% include team-section.html %}
  